@font-face {
    font-family: 'Pokemon Solid';
    src: url(/font/Pokemon/Solid.ttf)format('truetype');
    font-style:	normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pokemon Hollow';
    src: url(/font/Pokemon/Hollow.ttf)format('truetype');
    font-style:	normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Silkscreen';
    src: url(/font/slkscr.ttf)format('truetype');
    font-style:	normal;
    font-weight: normal;
    font-display: swap;
}